[Unit]
Description=sptp PTP client
Wants=network-online.target
After=network-online.target
Wants = time-sync.target
After = time-sync.target
Conflicts=shutdown.target

[Service]
ExecStart=/usr/local/bin/sptp -config /etc/sptp.conf -iface {{iface}}
Restart=always
Nice = -20

[Install]
WantedBy=multi-user.target